.navbar{
    background-color: #db975f;
    min-height: 70px;
    position: fixed;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.22);
    color: black;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    z-index: 99;
    white-space: nowrap;
}

.instruction{
    text-align: center;
};
